{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="example-wrapper">
            <h1>Sortez de chez vous !!! ✅</h1>
            <ul class="list-group">
                <li class="list-group-item">Exemple de sortie super fun</li>
                <li class="list-group-item">Celle-ci est encore plus fun, je pensais pas que c'était possible</li>
            </ul>
        </div>
    </div>
{% endblock %}
