{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Dashboard Admin{% endblock %}

{% block body %}
<h1>Salut à toi, bel administrateur</h1>
    <p><a href="{{ path('admin_addSingleUser') }}">Ajout d'un utilisateur manuellement</a></p>
    <p><a href="{{ path('admin_addUsersByFile') }}">Ajout de multiples utilisateurs par fichier CSV</a></p>
{% endblock %}
