{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Erreur {% endblock %}

{% block body %}

    <div class="container text-center m-5">
        <img src="{{ asset('img/500.png') }}" alt="Erreur 500">
        <h1 class="text-center mt-5">Désolé ça marche pas, mais t'inquiète, l'équipe de dev est sur le coup !</h1>
        <a href="{{ path('main') }}" class="btn btn-primary mt-5" role="button" style="scale: 2;">Retour</a>
    </div>

{% endblock %}