<p>Bonjour {{ participant.prenom }}</p>
<p>L'administrateur de Sortir.com a créé votre profil</p>
<p>Veuillez changer votre mot de passe en cliquant sur le lien suivant :
    <a href="{{ url|raw }}">Changement de mot de passe</a></p>
<p>Merci</p>