<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invitation au Groupe Privé</title>
</head>
<body>
<h1>Bonjour {{ participant.pseudo }}</h1>
<p>Vous avez été invité à rejoindre le groupe privé <strong>{{ groupe.nom }}</strong>.</p>
<p>Connectez-vous pour voir les détails et participer.</p>
</body>
</html>