<p>Bonjour {{ participant.prenom }}</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant : <a
            href="{{ url|raw }}">Réinitialisation de votre mot de passe</a></p>
<p>Merci</p>