<h1>Activez votre compte</h1>
<p>Bonjour {{ participant.prenom }}</p>
<p>Votre inscription est à valider en cliquant sur le lien ci-dessous</p>
<p><a href="{{ absolute_url(path('verify', {token: token})) }}">Lien</a></p>
<p>Ce lien expire dans 3 heures</p>